<nav class="navigation hidden">
  <div class="navigation__fast">
    <ion-icon class="playlists__menu1" name="close-outline"></ion-icon>
    <a href="/"><span class="logo">FDND</span></a>
    <ul class="navigation__list">
      <li class="navigation__item">
        <img src="/assets/home-icon.svg" alt="Home" /><a href="/">Home</a>
      </li>

      <li class="navigation__item">
        <img src="/assets/search-icon.svg" alt="Search" />
        <form method="get" action="">
          <label class="label-search" for="site-search">Zoeken</label>
          <input class="searchBar" type="search" id="site-search" name="q" />
        </form>
      </li>

      <li class="navigation__item">
        <img src="/assets/library-icon.svg" alt="Library" /><a href="#">Bibliotheek</a>
      </li>
    </ul>
  </div>
  <div class="navigation__links">
    <ul class="navigation__list">
      <li class="navigation__item">
        <img class="navigation__heart" src="/assets/liked-student.png" alt="Home" /><a href="liked">Studenten die je
          leuk vindt</a>
      </li>
    </ul>
    <hr />
  </div>
  <div class="navigation__playlist">
      <ul class="navigation__list">
          <li class="navigation__item"><a class=".navigation__link" href="squadA">Squad A</a></li>
          <li class="navigation__item"><a class=".navigation__link" href="squadB">Squad B</a></li>
          <li class="navigation__item"><a class=".navigation__link" href="squatC">Squat C</a></li>
          <li class="navigation__item"><a class=".navigation__link" href="tribe">Alle studenten</a></li>
          <li class="navigation__item"><a class=".navigation__link" href="liked">Gelikete studenten</a></li>
          <li class="navigation__item"><a class=".navigation__link" href="rest">Overige</a></li>
      </ul>
  </div>
</nav>