<%- include('./partials/head') %>

<main>
    <%- include('./partials/navigation') %>
    <div class="playlists">
        	
    </div>
</main>

<!-- Link naar JS -->
<!-- <script src="./scripts/script.js"></script> -->

<%- include('./partials/foot') %>