<%- include('./partials/head') %>

<main>
    <nav class="navigation">
        <div class="navigation__fast">
            <span class="logo">FDND</span>
            <ul class="navigation__list">
                <li class="navigation__item"><img src="/assets/home-icon.svg" alt="Home"><a href="#">Home</a></li>
                <li class="navigation__item"><img src="/assets/search-icon.svg" alt="Search"><a href="#">Zoeken</a></li>
                <li class="navigation__item"><img src="/assets/library-icon.svg" alt="Library"><a href="#">Bibliotheek</a></li>
            </ul>
        </div>
        <div class="navigation__links">
            <ul class="navigation__list">
                <li class="navigation__item"><img class="navigation__heart" src="/assets/liked-student.png" alt="Home"><a href="#">Nummers die je leuk vindt</a></li>
            </ul>
            <hr>
        </div>
        <div class="navigation__playlist">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="squadA">Squad A</a></li>
                <li class="navigation__item"><a href="squadB">Squad B</a></li>
                <li class="navigation__item"><a href="squatC">Squat C</a></li>
                <li class="navigation__item"><a href="#">Alle studenten</a></li>
                <li class="navigation__item"><a href="#">Overige</a></li>
            </ul>
        </div>
    </nav>
    <div class="playlists">

    </div>
</main>

<!-- Link naar JS -->
<!-- <script src="./scripts/script.js"></script> -->

<%- include('./partials/foot') %>