<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <div class="detail">
        <ion-icon class="playlists__menu" name="menu-outline"></ion-icon>
        <section class="detail__header">
            <img class="detail__logo" src="/assets/liked-student.png" alt="Logo - Squad A">
            <div class="detail__squad">
                <span class="squad__usp">Playlist</span>
                <h1 class="squad__title">Gelikete studenten</h1>
                <p class="squad__description">Alle studenten die jij hebt geliked!</p>
                <p class="squad__amount"><img src="/assets/liked-student.png" alt="Logo van squad A">Dit zijn alle
                    studenten die jij een hartje hebt gegeven!</p>
            </div>
        </section>
        <div class="students">
            <div class="students__menu">
                <div>Student</div>
                <div>Nickname</div>
                <div>Squat</div>
            </div>
                <div class="students__list">
                </div>
            </a>
        </div>
    </div>
</main>

<!-- Link naar JS -->
<script src="./scripts/script.js"></script>

<%- include('./partials/foot') %>