/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: fontBold;
    src: url('./assets/CircularStd-Bold.woff');
}

@font-face {
    font-family: fontBook;
    src: url('./assets/CircularStd-Book.woff');
}

@font-face {
    font-family: fontLight;
    src: url('./assets/CircularStd-Light.woff');
}

:root {
    --bg-color: #121212;
    --container-color: #181818;
    --txt-color: #b3b3b3;
    --btn-color: #1ed760;
    --fdnd-color: #66e5bf;
    --white-color: #fff;
    --black-color: black;
    --titleFont: fontBold;
    --textFont: fontLight;
    --fallbackFont: fontBook;
    --navbarWidth: 281px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font text */
h1,
h2,
h3,
h4 {
    font-family: var(--titleFont);
}

p,
ul,
li,
a,
span {
    font-family: var(--textFont);
}

/* General styling */

html,
body {
    background-color: var(--bg-color);
    height: 100%;
    overflow: auto;
}

html,
body,
main,
.navigation,
.detail,
.playlists {
    overflow: auto;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    height: 100%;
    /* position: relative;
    display: flex;
    flex-direction: row; */
}

/* Logo FDND */
.logo {
    border: 1px solid var(--white-color);
    border-radius: .5rem;
    box-shadow: calc(-1* .3rem) .3rem 0 0 var(--white-color);
    color: var(--white-color);
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Sidenav */
.navigation {
    width: var(--navbarWidth);
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.hidden {
    position: relative !important;
}

.navigation__fast {
    position: relative;
}

.navigation .navigation__fast,
.navigation .navigation__links,
.navigation__playlist {
    padding: 0 24px;
}

.navigation .navigation__fast {
    padding-top: 40px;
}

.navigation__list {
    padding-top: 3em;
}

.navigation__links .navigation__list {
    padding-top: 2em;
}

.navigation__links hr {
    margin: 0;
    padding-top: .8rem;
    border: none;
    border-bottom: 1px solid rgba(179, 179, 179, 0.4);
}

.navigation__item {
    color: var(--txt-color);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: .9em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 0;
    transition: .3s;
}

.navigation__item a:active {
    font-weight: 900;
    /* color: red; */
}

.navigation__item:hover {
    color: var(--white-color);
    transition: .3s;
}

.navigation__item img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    cursor: pointer;
}

.navigation__heart {
    border-radius: 5px;
}

.navigation__item a {
    color: inherit;
    text-decoration: none;
}

.navigation__playlist .navigation__list {
    padding-top: 1rem;
}

.navigation__playlist .navigation__list .navigation__item {
    padding: .4rem 0;
}

.active  {
    font-weight: 900;
    color: white !important;
  }

/* Indelen van website en achtergrond kleur */
.playlists,
.detail {
    width: 100%;
    /* width: calc(100% - var(--navbarWidth)); */
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, var(--fdnd-color), var(--bg-color) 35%);
}

/* Homepagina CSS */
.playlists__container {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.playlists__menu,
.playlists__menu1 {
    color: var(--white-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 2.5em;
    display: none;
    visibility: hidden;
    cursor: pointer;
}

.playlists__menu1 {
    position: absolute;
    top: 0;
    right: 0;
}

.playlists__heading {
    font-size: 2.3rem;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    margin-top: 2.5rem;
}

.playlists__list {
    width: 100%;
    height: auto;
    margin-top: .5rem;
    position: relative;
}

 .playlists__item:hover {
    background-color: hsla(0, 10%, 100%, .15);
    transition: .3s;
}

 .playlists__item {
    transition: .3s;
}

.playlists__list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    list-style-type: none;
}

.playlists__list ul a li {
    width: 100%;
    height: auto;
    font-family: var(--titleFont);
    font-size: 1.1rem;
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--container-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    border-radius: 10px;
}

.playlists__list ul a li img {
    height: 80px;
    margin-right: 1rem;
    aspect-ratio: 1/1;
    border-radius: 10px 0 0 10px;
}

.playlists .students {
    margin-top: 3rem;
}

/* Detail pagina CSS */
.detail__header {
    /* height: 30vh;
    min-height: 340px;
    max-height: 500px; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.detail__logo {
    width: 242px;
    aspect-ratio: 1/1;
}

.detail__squad {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    color: var(--white-color);
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.detail__filters {
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.detail__filters a:hover {
    background-color: #5bd9b3;
    border-color: #5bd9b3;
}

.playlists__filters {
    padding:  1rem 0;
}

.playlists__filters a {
    color: var(--white-color);
    margin-right: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    text-shadow: rgb(0, 0, 0, 1) 2px 0 10px;    
}

.playlists__filters a:hover {
    background-color: #5bd9b3;
    border-color: #5bd9b3;
}

.detail__filters a {
    color: var(--white-color);
    margin-right: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    text-shadow: rgb(0, 0, 0, 1) 2px 0 10px;    
}

.squad__amount,
.squad__description,
.squad__title,
.squad__usp {
    padding: .3rem 0;
}

.squad__usp {
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 0;
}

.squad__title {
    font-size: 4.5rem;
    padding: 0;
}

.squad__description {
    color: var(--txt-color);
}

.squad__description,
.squad__amount {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
}

.squad__amount img {
    width: 24px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.students {
    color: var(--txt-color);
    font-family: var(--textFont);
    font-weight: lighter;
    font-size: .9rem;
    padding: 0 2rem;
}

.students .students__list,
.students .students__menu {
    display: grid;
    font-family: var(--titleFont);
    color: var(--white-color);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.students .students__menu {
    color: var(--txt-color);
    font-family: var(--textFont);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--txt-color);
}

.students .students__list div {
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.students .students__list:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.students .students__list div:first-child {
    font-size: 1rem;
}

.students .students__list img {
    width: 50px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.ion-icon {
    z-index: 100;
}

/* Persoonlijke pagina  */
.main-member {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members {
    color: white;
    width: 40%;
    min-width: 650px;
    height: 100%;
    position: relative;
    background: var(--member-background-color);
    font-family: var(--textFont);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.member__image {
    width: 100%;
    padding: 0 7rem;
    padding-top: 4rem;
    height: auto;
}

.member__info {
    /* background-color: red; */
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 7rem;
}

.member__name {
    width: 100%;
    /* background-color: red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member__name h1 {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.member__name h1 span:first-child {
    font-size: .8em;
    font-family: var(--titleFont);
}

.member__name h1 span:last-child {
    font-size: .6em;
    font-family: var(--textFont);
}

.member__name ion-icon {
    font-size: 2em;
    cursor: pointer;
}

/* Responsive media query's */
@media screen and (max-width: 1200px) {
    .playlists__list ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        list-style-type: none;
    }
}

@media screen and (max-width: 950px) {
    .hidden {
        display: none;

    }

    .detail,
    .playlists {
        width: 100%;
    }

    .playlists__heading {
        margin-top: 0rem;
    }

    .playlists__menu {
        display: inline-block;
        visibility: visible;
    }

    .playlists__menu1 {
        display: inline-block;
        visibility: visible;
        padding: 0;
        margin: .5rem;
    }
}

@media screen and (max-width: 650px) {
    .members { 
        min-width: 100%;
        width: 100%;
    }

    .member__image, .member__info {
        padding:  0 2.5rem;
        min-width: 400px;
    }
    .member__image {
        padding-top: 4rem;
        min-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .playlists__list ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
        list-style-type: none;
    }

    .detail__logo {
        display: none;
        visibility: hidden;
    }

    .detail__squad {
        padding-left: 0;
    }

    .detail__header {
        min-height: auto;
    }
}

@media screen and (max-width: 540px) {
    .detail__filters a {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display: none;
    }
    .detail__filters {
        /* padding-top: 2em; */
        padding-left: 2em;
        padding-bottom: 0;
    }
    .students {
        /* padding-top: 2em; */
    }
}

@media screen and (max-width: 350px) {
    .members { 
        min-width: 100%;
        width: 100%;
    }

    .member__image, .member__info {
        padding:  0 2.5rem;
        min-width: 350px;
    }
    .member__image {
        padding-top: 4rem;
    }
}


/* r20222 */

/* zoekbalk */

.label-search{
    cursor: pointer;
}

.searchBar{
    /* display: inline-block; */
    width:7rem;
    margin-left: 1rem;
    opacity: 0;
}


.visible-search{
    opacity: 1;
    background-color: var(--fdnd-color);
}
.visible-search:focus{
    border-color: var(--btn-color);
    outline-color: var(--bg-color);
}
